body{
    background-color:#ED8E8E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:#5E5C5C;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: underline;
    border:2px solid;
    border-color: white;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 9px;
    padding-bottom: 9px;
    
}
p.entreprise-desc{
    color:#5E5C5C;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 225px;
    font-style: italic;
    font-size: 20px;
}
button.demande{
    background-color:#A62929;
    color:white;
    width:275px;
    height:67px;
    border:none;
    border-radius:5px;
    font-size:24px;
    
}
button.info{
    background-color:#5E5C5C;
    color:white;
    width:275px;
    height:67px;
    border:none;
    border-radius:5px;
    font-size:24px;
}
a{
    text-decoration-line: none;
    color:white;
}
body.info{
    background-color:#ED8E8E;
    height:1000px;
}
p.nom{
    margin-left: 270px;
    margin-top: 130px;
    font-size: 30px;
}

p.prénom{
    margin-right:-270px;
    margin-top: 130px;
    font-size:30px;}
div.nomadress{
margin-left:200px;
}
input{
    height:30px;
    border:none;
    border-radius:5px;
    width:250px;
}
form.form{
    display:flex;
    flex-direction: column;
}

input.submit{
    display: flex;
    margin: auto;
}

input.submit{
    width: 70px;
}
div.all{
    height: 10000px;
}

textarea.message{
    /* margin-left:540px ; */
    height:120px;
    width:360px;
    border: none;
    border-radius: 5px;
}


p.red{
    background-color: #A62929;
    color:#A62929;
    margin-top: 160px;
    margin-left: 500px;
    margin-right: 500px;
    
}
div.rectangle{
    background-color:#A62929;
    height:215px;
    width:463px;
    margin: 85px auto;
}
p.client1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}
div.gris{
    margin-left: 50px;
    display: flex;
    text-align:start;
}

div.client1{
    color: white;
    padding-left: 30px;
    line-height: 28px;
}
h4.nom1{
    margin-left: 140px;
}
h4.prenom1{
    margin-left: 140px;
    margin-top:-8px
}
h4.ville1{
    margin-left: 140px;
    margin-top:-8px
}
h4.age1{
    margin-left: 140px;
    margin-top:-8px
}
p.nom1{
    margin-left: 190px;
    margin-top: -139px;
}
p.prenom1{
    margin-left: 225px;
    margin-top:-1px;
width:500px;
}
p.ville1{
    margin-left: 200px;
    margin-top:-4px
}
p.age1{
    margin-left: 185px;
    margin-top:-3px;
    width:100px;

}
div.buttons{
    margin: 100px auto;
    display:flex;
    justify-content: space-evenly;
}
div.formulaire1{
  margin-right: 5%;
    display: flex;
    flex-direction: column;
}
 div.formulaire1 label{
    padding: 12px 0 6px 0;
}



div.formulaire2{
    margin-left: 5%;
    display: flex;
    flex-direction: column; 
}
div.formulaire2 label{
    padding: 12px 0 6px 0;
}

div.message{
    margin: auto;
    padding : 12px 0 6px 0;
}
div.formulaire0{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
img{
    width: 130px;
    height: 130px;

}
span.information{
    font-size: 16px;
    font-weight:bold;
    line-height: 19px;
    line-height: 100%;
}
span.reponse{
font-size: 16px;
font-weight:500px;
line-height: 19px;
line-height: 100%;
}
.themecontainer{
    position: fixed;
    top:0;
}
.theme{
    height:30px;
    width:30px;
    cursor: pointer;
    transition: 5s;
}
#dark{
    background-color: #333333;
    border:2px;
    border-color: black;
    border-width: 20px;
}
#light{
    background-color: #ED8E8E;
}
.darktheme{
    background-color:#333333;
}
.lighttheme{
    background-color: #ED8E8E;
    color: white;
}


@media screen and (max-width: 560px){
    body.info{
        align-items: center;
    }
    h1{
        text-align: center;
    }
    div{
        size: 1%;
    }
    div.formulaire0{
        width: 1px;
        align-content: center;
        margin-left: 20%;
        flex-direction: column;
    }
}
@media screen and (min-width: 560px){
    

}